{% extends "myapp/layout.html" %}
{% load static %}

{% block title %}
Página principal
{% endblock %}

{% block content %}
<strong>Hola</strong>, <em>{{ nombre }}</em>!!!!!!

{% if curso_actual.nombre == "Python y Django" %}

<p>Ya tomaste {{ cursos }} cursos y ahora estás 
    cursando {{ curso_actual.nombre }} en el turno {{ curso_actual.turno }}.<br>
El primer curso que hiciste fue el de {{ cursos_anteriores.1 }}</p>

{% elif curso_actual.nombre == "Java" %}

    <p>Actualmente estás cursando {{ curso_actual.nombre }}</p>

{% else %}

    <p>Estás cursando {{ curso_actual.nombre }}</p>

{% endif %}


<h1>Listado de Cursos Hechos</h1>
<ul>
    {% for curso in cursos_anteriores %}
        <li>{{ curso }}</li>
    {% endfor %}
</ul>

<a href='{% url "cursos" %}'>Ver tabla de cursos</a>
<br><br>
<a href='{% url "aeropuertos" %}'>Ver listado de Aeropuertos</a>
<p><a href='{% url "nueva_pelicula" %}'>Cargar listado de películas</a></p>

<img class="imagen" src='{% static "myapp/django.png" %}' />
{% endblock %}