{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "myapp/styles.css" %}'>
    <title>
        {% block title %}
            Mi aplicación de Django
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <div class="container">
            <a href="{% url 'cursos' %}">Inicio</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logoff</a>
            {% endif %}
            <a href="{% url 'acerca_de' %}">Acerca de</a>   
            
            {% if user.is_authenticated %}
                <span>Bienvenido {{ user }}</span>
            {% else %}
                <span>Usuario no autenticado</span>
            {% endif %}
        </div>
    </nav>
    <main>
        <div class="container-noflex">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <br>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            
            {% if user.is_authenticated %}
                <div>Usuario en línea: <strong>{{ user }}</strong></div>
            {% else %}
                <div><strong>No hay ningún usuario conectado</strong></div>
            {% endif %}
            <small>&copy; Mi aplicación de Django</small>
        </div>
    </footer>
</body>
</html>